<form action="/add" method="post">
  <label for="title">Title:</label>
  <input name="title" type="text">
  <label for="body">Body:</label>
  <input name="body" type="text">
  <button type="submit">submit</button>
</form>
